.about {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.aboutTop {
  width: 100%;
  height: 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.aboutBottom {
  display: flex;
  flex-direction: column;
  height: 55%;
  align-items: center;
  margin-top: 50px;
}

.aboutBottom p {
  width: 80%;
  color: white;
  text-align: center;
  font-weight: 200;
  font-size: 25px;
}

.about .aboutBottom h1 {
  font-weight: 400;
  text-align: center;
  font-size: 70px;
  color: rgb(255, 255, 255);
  height: 30px;
  display: flex;
  justify-content: center;
  transform: translateY(-40px);
}
@media only screen and (max-width: 800px) {
  .about .aboutBottom h1{
    font-size:1.5em;
  }
  .aboutBottom p{
    font-size:1em;
  }
}