.container{
    /* position: fixed;
    width: 100%;
    top: 0;
    left: 0; */
}
.header {
  width: 80%;
  background-color: #8a2b06;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

